header {
    height: 80px;
}

header > img {
    width: 90px;
}

.intro {
    height: calc(100dvh - 90px);
}

.text {
    max-width: 400px;
    left: 8%;
}

.text > .intro-p {
    font-size: 2.7rem;
}

.sobre-txt {
    max-width: 650px;
    padding: 8%;
}

.sobre-foto {
    margin: auto;
}

.historia {
    margin-left: 8%;
}

.int-produtos {
    column-gap: 5%;
}